@page "/gradoacademico"
@using WebAppSchoolEase.Models;
@using WebAppSchoolEase.Services;
@inject ILogger<GradosAcademicos> Logger;
@inject IJornadaAcademicaService jornadaAcademicaService;
@inject IJSRuntime JSRumtime;
<PageTitle>Grados Academicos</PageTitle>

@*
    formulario para crear Grados academicos
*@

<h3>Crear un Grado Academico</h3>

@code {

}
