@page "/matricula"
@using WebAppSchoolEase.Models;
@using WebAppSchoolEase.Services;
@inject ILogger<Matriculas> Logger;
@inject IMatriculaService MatriculaService;
@inject IJSRuntime JSRumtime;
<PageTitle> Realizar una Matricula</PageTitle>

@*
    formulario de matriculas
*@

<h3>Registrar una matricula  </h3>

@code {

}