@page "/nivelacademico"
@using WebAppSchoolEase.Models;
@using WebAppSchoolEase.Services;
@inject ILogger<NivelesAcademicos> Logger;
@inject INivelAcademicoService nivelAcademicoService;
@inject IJSRuntime JSRumtime;
<PageTitle>Niveles Academicos</PageTitle>

@*
    formulario para crear Niveles academicos
*@

<h3>Crear un Nivel Academico</h3>

@code {

}
